body {
    font-family: 'Open Sans'
}

#sidebar {
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0;
    width: 15rem;
    background: #D3D3D3;
}

#sidebar h1 {
    padding-left: 2rem;
}

#sidebar h5 {
    padding-left: 2.5rem;
}



.btn-group {
    display: inline-block;
}

