<section class="container-fluid">
    <section class="row">
        <section class="col-md-4">
            <div id="sideNav" class="room-sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
                <h1>Bloc Chat</h1>
                <button type="button" class="btn btn-lg btn-default active" ng-click="main.open()">Create Room</button>
                <div class="room-list" ng-repeat="room in main.rooms">
                    <div ng-click="main.setRoom(room)">
                        <div class="room-name" ng-value="room.name">{{ room.name }}</div>
                    </div>
                </div> 
            </div>
            <span class="room-default" onclick="openNav()">Click Here</span>
        </section>

        <section class="col-md-8">
            <div id="main" class="room-messages">
                <div class="room-title"><h1>{{ main.currentRoom.name }}</h1></div>
                <ng-include src="'/templates/messages.html'"></ng-include>
            </div> 
        </section>
    </section>
</section>


